*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black; 
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.2%;
}

html,body{
    height: 100%;
    overflow-y: hidden ;
    overflow-x: hidden;
}

header{
    height: 200px;
    padding: 20 px 0;   
}

.logo img{
    width: 50%;
}

.logo{
    width: 50%;
}

.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a{
    color: darkorchid;
    font-weight: bold;
    margin-right: 15px;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -450px;
    right: -500px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color:darkorchid;
}

.foto{
    display: block;
    width: 50%; 
    margin: 210px 65px;
    background-color:darkorchid;
    background:transparent;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.social-media img{
    display: block;
    width: 40px;
    margin: 30px 0;
    background-color:darkorchid;
}

.social-media{
    position: absolute;
    right: 510px;
    top: 200px;
    background-color:darkorchid;
}

.texto-sobre{
    color: white;
    margin-top: 50px;
}

.texto-sobre h1{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}

.texto-sobre p{
    margin: 20px 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    max-width: 800px;
    font-family: 'Oswald', sans-serif;
}

.texto-sobre button{
    border: 0;
    background-color: darkorchid;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}